.main {
  display: flex;
  height: 99vh;
  width: 99vw;
}
.container {
  margin: auto;
  text-align: center;
}
h1 {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 2em;
}
.adjective,
.noun {

  font-size: 4em;
  font-weight: bold;
  text-transform: capitalize;
}
